.profile__edit-container {
  align-items: center;
  display: flex;
  gap: 18px;
  width: min-content;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile__edit-container {
    gap: 10px;
  }
}