.popup__container {
  background-color: #FFF;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 25px 0px #00000026;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 330px;
  margin: 0;
  padding: 34px 36px 37px;
  position: relative;
  width: 430px;
}

@media screen and (max-width:767px) {
  .popup__container {
    gap: 75px;
    padding: 25px 22px;
    height: 322px;
    width: 282px;
  }
}