.profile__edit-container {
  display: flex;
  gap: 18px;
  align-items: baseline;
  justify-content: center;
}

@media screen and (max-width:767px) {
  .profile__edit-container::before {
    content: '\a0';
  }
}