.profile__info {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 336px;
  position: relative;
  width: min-content;
}

@media screen and (max-width: 767px) {
  .profile__info {
    align-items: center;
    gap: 8px;
    max-width: 282px;
    width: 100%;
  }
}